.sidebar {
  background-color: #eff3f3;
  border-left: 1px solid #ececec;
  box-sizing: border-box;
  float: right;
  height: calc(100% - 50px);  /* header */
  overflow: hidden;
  padding: 15px 5px 0 15px;
  width: 320px;
}

.sidebar .button-upload-mobile {
  display: none;
}

.sidebar .sidebar-container {
  height: calc(100% - 15px); /* padding bottom */
  overflow: auto;
  padding-right: 10px;
}

.sidebar .sidebar-container .button {
  color: #959ea0;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
  padding: 8px 0 8px 10px;
}

.sidebar .sidebar-container .button:last-child {
  margin-bottom: 0;
}

.sidebar .sidebar-container .button:hover {
  color: #75767b;
}

.sidebar .sidebar-container .button .span-author {
  color: #bbbbbd;
  color: #acb3b4;
  display: block;
  font-size: 14px;
  margin-top: 8px;
}

@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }

  .sidebar {
    float: none;
    height: calc(100% - 50px);
    padding: 10px;
    position: absolute;
    text-align: right;
    top: 50px;
    width: 100%;
  }

  .sidebar .button-upload-mobile {
    background-color: transparent;
    border: 1px solid #3498db;
    color: #3498db;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 6px 10px;

  }

  .sidebar .button-upload-mobile i {
    color: #3498db;
    margin-right: 10px;
  }

  .sidebar .sidebar-container {
    height: calc(100% - 33px);
    padding-right: 0;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar .sidebar-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .sidebar .sidebar-container::-webkit-scrollbar {
    display: none;
  }

  .sidebar .sidebar-container .button {
    color: #75767b;
    margin-bottom: 10px;
    text-align: left;
  }

  .sidebar .sidebar-container .button:last-child {
    margin-bottom: 10px;
  }

  .sidebar .sidebar-container .button:hover {
    color: #9e9fa2;
  }
}