.header {
  background-color: #3498db;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
  height: 50px;
  padding: 0 40px;
  position: relative;
  z-index: 1;
}

.header .title {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  padding: 15px;
}

.header .button-upload {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 16px;
  font-family: inherit;
  margin-top: 7px;
  padding: 6px 10px;
}

.header .button-upload i {
  color: #fff;
  margin-right: 10px;
}

.header .button-menu-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 10px;
  }

  .header .title {
    padding: 15px 0;
  }

  .header .button-upload {
    display: none;
  }

  .header .button-menu-mobile {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    display: inline;
    float: right;
    font-size: 16px;
    margin-top: 8px;
    padding: 6px 8px;
  }
}